# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/

# Dataset (imagens - publicar no Hugging Face)
data/spinal_ai2024/images/
data/boostnet_labeldata/


# Pasta estranha
{data,models,utils,configs,results}/

# IDE
.vscode/
.idea/
